*{margin: 0%;
text-align: center;}
body{
 background: linear-gradient(45deg,rgb(0, 176, 240),orange);
}
#header {
 background: black;
 height: 70px;
color: wheat;
}
#kows
{color: cornsilk;}

#brand{
 width: 40%;
 float: left;
 line-height: 70px;
 text-align: center;
 
 

}
#menu{width: 60%;
 float: right;
 line-height: 70px;
 text-align: center;


}
a{
 color:cornsilk;
 margin-right: 30px;
 text-decoration: none;
}
table{width: 100%;
margin: 30px;}
image {border-radius: 10px;
box-shadow: 0 0 10px wheat;}

p{margin: 30px;}
h2{margin: 30px;

background: linear-gradient(45deg,red,black);
color: wheat;
width: 500px;
padding: 15px;
border-radius: 50%;
margin: auto}
#dog{margin: 20px;

 background: linear-gradient(45deg,red,black);
 color: wheat;
 width: 544px;
 padding: 8px;
 border-radius: 50%;
 margin: auto}
 #j{background-color:black;}
 #x{margin: 20px;}
 #cow{margin: 20px;

  background: linear-gradient(45deg,red,black);
  color: wheat;
  width: 544px;
  padding: 8px;
  border-radius: 50%;
  margin: auto}
























[


